body {
  font-family: 'Lora';
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 23, 15, 0.0))), url("../img/fundo.jpg");
  background: linear-gradient(rgba(47, 23, 15, 0.0)), url("../img/fundo.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}
h1{
	background-color: rgba(5,5,5,0.8);
	
}
#mainNav {
  background-color: rgba(5, 5, 5, 0.8);
  font-family: 'Raleway';
}
.cta {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: rgba(5, 5, 5, 0.8);
}
.footer {
  background-color: rgba(5, 5, 5, 0.8);
}