body {
  font-family: 'Lora';
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 23, 15, 0.0))), url("../img/preto.jpg");
  background: linear-gradient(rgba(47, 23, 15, 0.0)), url("../img/preto.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}
h1{
	background-color: rgba(5,5,5,0.0);
	
}
#mainNav {
  background-color: rgba(5, 5, 5, 0.8);
  font-family: 'Raleway';
}
.cta {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: rgba(5, 5, 5, 0.8);
}
.footer {
  background-color: rgba(139,69,19, 0.5);
}
@media (min-width: 992px) {
  .intro .intro-img {
    width: 105%;
    float: right;
    /*margin-right: -230px;*/
    margin-top: 50px;
  }
  .intro .intro-text {
    left: 0;
    width: 60%;
    /*margin-top: 3rem;*/
    position: absolute;
    margin-left: -300px
  }
  .intro .intro-text .intro-button {
    width: 100%;
    left: 0;
    position: absolute;
    bottom: -2rem;
  }
}
@media (min-width: 1200px) {
  .intro .intro-text {
    width: 70%;
  }
}

.cta {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: rgba(230, 167, 86, 0.9);
}

.cta .cta-inner {
  position: relative;
  padding: 3rem;
  margin: 0.5rem;
  background-color: rgba(255, 255, 255, 0.85);
}

.cta .cta-inner:before {
  border-radius: 0.5rem;
  content: '';
  position: absolute;
  top: -0.5rem;
  bottom: -0.5rem;
  left: -0.5rem;
  right: -0.5rem;
  border: 0.25rem solid rgba(255, 255, 255, 0.85);
}
#mainNav {
  background-color: rgba(139,69,19, 0.5);
  font-family: 'Raleway';
}

#mainNav .navbar-brand {
  color: #e6a756;
}

#mainNav .navbar-nav .nav-item .nav-link {
  color: rgba(255, 255, 255, 0.7);
  font-weight: 800;
}

#mainNav .navbar-nav .nav-item.active .nav-link {
  color: #e6a756;
}
.cta {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: rgba(139,69,19, 0.5);
}